@import 'variables';
@import 'common/header';
@import 'main/home';
@import 'main/about';
@import 'main/skills';
@import 'main/qualification';
@import 'main/services';
@import 'main/portfolio';
@import 'main/contact';
@import 'common/footer';


/* ==================== GOOGLE FONTS ==================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 $header-height 0;
    font-family: $body-font;
    font-size: $normal-font-size;
    background-color: $body-color;
    color: $text-color;


    h1,
    h2,
    h3,
    h4 {
        color: $title-color;
        font-weight: $font-semi-bold;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

/* ====================REUSABLE CSS CLASSES==================== */

.section {
    padding: 2rem 0 4rem;
}

.section__title {
    font-size: $h1-font-size;
    color: $title-color;
}

.section__subtitle {
    display: block;
    font-size: $small-font-size;
    margin-bottom: $m-3;
}

.section__title,
.section__subtitle {
    text-align: center;
}

/* ====================LAYOUT==================== */

.container {
    max-width: 768px;
    margin-left: $m-1-5;
    margin-right: $m-1-5;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: $z-fixed;
    background-color: $body-color;
}

/*==================== BUTTONS ====================*/
.button {
    transition: .2s;
    display: inline-block;
    background-color: $first-color;
    color: #FFF;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: $font-medium;

    &:hover {
        background-color: $first-color-alt;
    }

    &__icon {
        transition: .3s;
        font-size: 1.25rem;
        margin-left: $m-0-5;
    }

    &--flex {
        display: inline-flex;
        align-items: center;
    }

    &--small {
        padding: $m-0-75 $m-1;
    }

    &--link {
        transition: .2s;
        padding: 0;
        background-color: transparent;
        color: $first-color;

        &:hover {
            background-color: transparent;
            color: $first-color-alt;
        }
    }
}

/*========== SCROLL UP ==========*/
.scrollup {
    transition: .4s;
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: $first-color;
    opacity: .8;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: 10;

    &:hover {
        transform: translateY(-0.3rem);
        background-color: #6543cb;
    }

    &__icon {
        font-size: 1.5rem;
        color: #FFF;
    }
}

/* Show scroll */
.show-scroll {
    bottom: 5rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
    width: .60rem;
    background-color: #e4e2e9;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #c9c6d2;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a29fad;
}


/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .nav__menu {
        padding: 2rem .25rem 4rem;
    }

    .nav__list {
        column-gap: 0;
    }

    .home__content {
        grid-template-columns: .25fr 3fr;
    }

    .home__blob {
        width: 180px;
    }

    .skills__title {
        font-size: $h3-font-size;
    }

    .skills__icon {
        font-size: $h3-font-size;
    }

    .skills__content {
        font-size: $smaller-font-size
    }

    .qualification__data {
        gap: .5rem;
    }

    .services__container {
        grid-template-columns: max-content;
        justify-content: center;
    }

    .services__content {
        padding-right: 3rem;
    }

    .services__modal {
        padding: 0 .5rem;
    }
}

/* For medium devices */
@media screen and (min-width: 568px) {
    .home__content {
        grid-template-columns: max-content 1fr 1fr;
    }

    .home__title {
        font-size: 1.5rem;
    }

    .home__data {
        grid-column: initial;
    }

    .home__img {
        order: 1;
        justify-self: center;
    }

    .about__container,
    .contact__container,
    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .skills__content {
        margin: 0 2rem;
    }

    .skills__list {
        padding-left: 2.8rem;
    }

    .qualification__sections {
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }

    .services__content {
        width: 300x;
    }

    .portfolio__content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        margin: 0;
    }

    .section {
        padding: 6rem 0 2rem;
    }

    .section__subtitle {
        margin-bottom: 4rem;
    }

    .header {
        top: 0;
        bottom: initial;
    }

    .header,
    .main,
    .footer__container {
        padding: 0 1rem;
    }

    .nav {
        height: calc($header-height + 1.5rem);
        column-gap: 1rem;
    }

    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: none;
    }

    .nav__list {
        display: flex;
        column-gap: 2rem;
    }

    .nav__menu {
        margin-left: auto;
    }

    .nav .change-theme {
        margin: 0 0 0 .5rem;
    }

    .home__container {
        row-gap: 5rem;
    }

    .home__content {
        padding-top: 5.5rem;
        column-gap: 2rem;
    }

    .home__blob {
        width: 270px;
    }

    .home__scroll {
        display: block;
    }

    .home__scroll-button {
        margin-top: .5rem;
        margin-left: 3rem;
    }

    .about__container {
        column-gap: 5rem;
    }

    .about__img {
        width: 350px;
    }

    .about__description {
        text-align: initial;
    }

    .about__buttons {
        justify-content: initial;
    }

    .qualification__tabs {
        justify-content: center;
    }

    .qualification__button {
        margin: 0 1rem;
    }

    .qualification__sections {
        grid-template-columns: .5fr;
    }

    .services__container {
        grid-template-columns: repeat(3, 218px);
        justify-content: center;
    }

    .services__icon {
        font-size: 2rem;
    }

    .services__modal-content {
        width: 450px;
    }

    .portfolio__img {
        width: 320px;
    }

    .portfolio__content {
        align-items: center;
    }

    .footer__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer__bg {
        padding: 3rem 0 3.5rem;
    }

    .footer__links {
        flex-direction: row;
        column-gap: 2rem;
    }

    .footer__socials {
        justify-self: flex-end;
    }

    .footer__copy {
        margin-top: 4.5rem;
    }
}

/* For large devices */
@media screen and (min-width: 1024px) {

    .header,
    .main,
    .footer__container {
        padding: 0;
    }

    .home__blob {
        width: 320px;
    }

    .home__social {
        transform: translateX(-6rem);
    }

    .home__social-icon {
        font-size: 2rem;
    }

    .about__img {
        width: 430px;
        height: 400px;
    }

    .about__info {
        justify-content: start;
    }

    .about__info-content:first-child {
        margin-right: 2rem;
    }

    .qualification__sections {
        align-items: center;
        height: 300px;
    }

    .services__container {
        grid-template-columns: repeat(3, 238px);
    }

    .portfolio__content {
        column-gap: 5rem;
    }

    .portfolio .swiper-portfolio-icon {
        font-size: 3.5rem;
    }

    .portfolio .swiper-button-prev {
        left: -3.5rem;
    }

    .portfolio .swiper-button-next {
        right: -3.5rem;
    }

    .contact__form {
        width: 460px;
    }

    .contact__inputs {
        grid-template-columns: repeat(2, 1fr);
    }
}